files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID0TCCArkCFCoU8db5KgBEKQAP8mo0A77/m1biMA0GCSqGSIb3DQEBCwUAMIGk
      MQswCQYDVQQGEwJWTjEUMBIGA1UECAwLSG8gQ2hpIE1pbmgxGTAXBgNVBAcMEEhv
      IENoaSBNaW5oIENpdHkxDDAKBgNVBAoMA1RGUzEdMBsGA1UECwwUU29mdHdhcmUg
      RGV2ZWxvcG1lbnQxDTALBgNVBAMMBEZQVFUxKDAmBgkqhkiG9w0BCQEWGWFub255
      bW91c3ppbmdtZUBnbWFpbC5jb20wHhcNMjMwMjA5MTYyOTA5WhcNMjQwMjA5MTYy
      OTA5WjCBpDELMAkGA1UEBhMCVk4xFDASBgNVBAgMC0hvIENoaSBNaW5oMRkwFwYD
      VQQHDBBIbyBDaGkgTWluaCBDaXR5MQwwCgYDVQQKDANURlMxHTAbBgNVBAsMFFNv
      ZnR3YXJlIERldmVsb3BtZW50MQ0wCwYDVQQDDARGUFRVMSgwJgYJKoZIhvcNAQkB
      Fhlhbm9ueW1vdXN6aW5nbWVAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAs8zqhpZHKQyMFXP6hx/ra7OdNfT3EXUTJxhn+cPjTMH03eOV
      GnkEpoq/FQUiF3QHE8QWAF8bOEQB+UJWeAPbTDf8eefabpd8WS9dK48ls6SQpzGM
      JnMAq4wzNSaQ4+2qVGkj8MLslDePVsc5/H1LNRZqgx/ifM3ZBpG2fIWLjYPc/yjl
      IbI+s81V5gNimzBU1/jcr4SwbRk02TwGKxMj6y+33KFF5VSI2syttyB54/3RJq8x
      RipJ7PdINHZeExMf6z6sICX8V/JU1676NLMDLv0cT0pnLkoLda5H1FPUyvLobtyt
      mAk4p65GAoYYgAszyAoje799k/irdBX3JFZG4QIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQAJpA3do2Mv4gho+BLYnZiIhslJt07RG3flv7D9MkH4/4RXfrqZTVompbHd
      TMelBUTeLyHg5YgAI9hgrQkflmicLOLKQl9QFN3ibbrCx1wx4bZVTHOji98+JTP2
      OfhPW6Aj3hBwgQDTz/N+TTn/pudf29GiZvksJBAFKH6o1+ClsI1/i12UpZbSSw5Y
      lSS5mueegGiSrHcCacVg0KCm1DN5Jr14+OxzUYkIuAsi6uRWG3JFnuCq9uq6zyMM
      ngQVbPLPt+H/G05E/HwpsycnZ0Qq6w01eMhnvZyRb/8MdasHxQwj1laUotjZq70a
      2Pc9WMyd3n2ziKapbnPbok8bWRwD
      -----END CERTIFICATE-----


  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCzzOqGlkcpDIwV
      c/qHH+trs5019PcRdRMnGGf5w+NMwfTd45UaeQSmir8VBSIXdAcTxBYAXxs4RAH5
      QlZ4A9tMN/x559pul3xZL10rjyWzpJCnMYwmcwCrjDM1JpDj7apUaSPwwuyUN49W
      xzn8fUs1FmqDH+J8zdkGkbZ8hYuNg9z/KOUhsj6zzVXmA2KbMFTX+NyvhLBtGTTZ
      PAYrEyPrL7fcoUXlVIjazK23IHnj/dEmrzFGKkns90g0dl4TEx/rPqwgJfxX8lTX
      rvo0swMu/RxPSmcuSgt1rkfUU9TK8uhu3K2YCTinrkYChhiACzPICiN7v32T+Kt0
      FfckVkbhAgMBAAECggEAVsYlxbCPRVtd3BiuJzqbds4nqFvCRbWX+b1IqP0GHQxa
      biAg3LbdLLc3gyCIFIOVys9Owv0jeOMxhKekbaWG1+EJQ5hHDiqkA7LdJ2Gdk3Zv
      rZE3D3NfNmuiZxtmv+n602QuyUp5vQqXbg0Wiim5+zQHUaM4vnzmKcp3JN+auz/B
      yin7jQjK4ItpoIRuV+Vwh4MhPTIoq3qHdBx3KNDDZYjGTZy6CDN0CFfNxH92UGfz
      csh14Cqvl9pcN1JnmDSbeeWGwhnpZLas5p7EcBpYvsZkGsiA50IJmq4SDRZhos9m
      TKPSwBKv3UwABn572Sk0wbcrDvWjFrykhDgoQvdqhQKBgQDot8LlzFtD+nZzqshE
      vQ4OloVhEnsQ0x5Rg2LKDsWj5zKVV7++UnsgOGrA1tLeYydHr6bQzqKziJV+/pPC
      UNFidmujTSubdEyiEE/ntjX0Jk5a2C19D59MhrzXAbPOLdZqZSb6J6c4UW/Ju6eu
      W4v5xoneHM9R4dSjBbkLwmLGYwKBgQDFyd1mZnBzj+/jY6zkk64wbU5oMZSgy1GG
      Z6Gi08IfWTUa5Dv3BK1T6m1WMugxc2ZuLsvDzCmQND1+HlGqJx7dxV25pSdFX4wT
      je6dsWaG1oIBgJgQl3vyyOeb32K1i1ZB1eyll14HGn0GIIhC01kEKH9uWVLRZ/Ru
      V3v84WhO6wKBgCyQdAwZdCiyX9iKjctMANMeU/Bg35w7MYUeid5zsblPXspmgVtq
      5BUpeJfxC3R2vGDn7CP0TgffUfF9wsHlRBN85ePhtUYRoVMvmH2g0PguFbcjyqI2
      SaUX8DWkJ9CFypeZQzuIOGd6gNO60cN72HQ+ZsxX7AOcIWIOiH8N/GhNAoGAeAlh
      Iup8yMXMUvaFUVwHVUChWz7r8wIyAh4WzNkzcQ8U2bM2aV4fS1R08uGGZayht7ES
      3Uuk1e2+fDIuYdPIOdO0ZBzFTqcEPkHfVTj6/k5lLEA9CaTGBrzDQ6g5IfDkcqRA
      MOdCm5EJ25QW3meiGJHzdKclSg2LHQRfLUQnp+0CgYEAlbAZNjJAklch/DsQMSBk
      uLkAGIgwyuq6RvO88bgrf/jl50ABcjtIkI3Whz/zSeD3Cx2dCKf9QceLbLbQ2Oq+
      TsJUpUygPggJwa+ZSxSvpkdhkYhR3+Khc+cQpm6yzNIbd+FgsQwsC9W485uzd1SZ
      CkipWvRu7FqMw+yjr23AjZk=
      -----END PRIVATE KEY-----